# Objective
* Be able to execute any SQL query/procedure directly through the Notebook, and also to store the result of any query to a variable you can then use later in your analysis.

## Install relevant libraries

In [ ]:
!pip install ipython-sql

In [1]:
!pip install cx_Oracle

Requirement already satisfied: cx_Oracle in /Users/piramolkrishnan/opt/miniconda3/lib/python3.9/site-packages (8.3.0)

## Conneting to databases

* We will first use `sqlachemy` lbrary to create an engine needed to connect to the database
* It will be required <b> only once per connection string </b> so you don't have to do it each time when making a connection

* Here are some general-looking connection strings for various databases:
> * PostgreSQL: `postgresql://scott:tiger@localhost/mydatabase`
> * MySQL: `mysql://scott:tiger@localhost/foo`
> * Oracle: `oracle://scott:tiger@127.0.0.1:1521/sidname`
> * SQL Server: `mssql+pyodbc://scott:tiger@mydsn`
> * SQLite: `sqlite:///foo.db`

### Example with sqlite

In [3]:
import sqlalchemy

In [4]:
sqlalchemy.create_engine('oracle://scott:tiger@127.0.0.1:1521/sidname')

Engine(oracle://scott:***@127.0.0.1:1521/sidname)

#### load in previously installed SQL module:

In [5]:
%load_ext sql

####  connect to the database with a connection string specified earlier
* Notice how the column content is prefixed with the percent sign

In [6]:
%sql oracle://scott:tiger@127.0.0.1:1521/sidname

(cx_Oracle.DatabaseError) DPI-1047: Cannot locate a 64-bit Oracle Client library: "dlopen(libclntsh.dylib, 1): image not found". See https://cx-oracle.readthedocs.io/en/latest/user_guide/installation.html for help
(Background on this error at: https://sqlalche.me/e/14/4xp6)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

# Starting out
* First pass
    * multi-line SQL query
    * surround the query with brackets and then execute

## Mark entire cell as a SQL block

In [7]:
%%sql

SELECT * FROM employees
WHERE ROWNUM <= 5

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])